body, html {
	width: 100%;
}

#places-list {
	list-style: none;
}

.place-info {
	position: relative;
	width: 500px;
	padding: 15px;
}

.place-info:nth-child(n+2) {
	border-top: 1px solid #999;
}

.place-name {
	font-size: 1.5em;
	color: #333;
	display: block;
}

.place-vicinity {
	color: #555;
}

.place-proximity-score {
	position: absolute;
	right: 20px;
	font-size: 1.25em;
	color: #444;
	vertical-align: middle;
	top: 0px;
	line-height: 2.5em;
}